@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	background: rgba(172,243,251,1.00);
}

header{
	text-align: center;
}

nav{
	text-align: center;
}

nav button{
	margin: 0px;
	padding: 5px;
	border-style: none;
	background: white;
}

nav button:hover{
	background: rgba(214,214,214,1.00);
}

#aktivB{
	background: green;
	color: white;
}
