@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	background-image: url("Baggrund.png");
	background-size: cover;
	background-attachment: fixed;
	font-family: "Open Sans";
}

header{
	display: flex;
	text-align: center;
	justify-content: space-between;
}

nav{
	text-align: center;
	margin: 30px 20px;
}

nav button{
	margin: 0px;
	padding: 10px 5px 0px;
	border-style: none;
	background: none;
	font-size: 20px;
	font-weight: 600;
}

nav button:hover{
	color: #2f618b;
	cursor: pointer;
}

#aktivB{
	color: #2f618b;
}

footer{
	background: white;
	text-align: center;
}

.ftInfo{
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
	gap: 10px;
}

.forside{
	text-align: center;
}

.forIntro{
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}