@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	background-image: url("Baggrund.png");
	background-size: cover;
	background-attachment: fixed;
	font-family: "Open Sans";
}

header{
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 0px 250px;
}

header img{
	width: 400px;
}

nav{
	text-align: center;
	margin: 30px 0px 0px;
}

nav button{
	margin: 0px;
	padding: 10px 5px 0px;
	border-style: none;
	background: none;
	font-size: 20px;
	font-weight: 600;
	color: #3f3f3f;
}

nav button:hover{
	color: #2f618b;
	cursor: pointer;
}

#aktivB{
	color: #2f618b;
}

footer{
	transform-origin: bottom center;
	background: white;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: #2F618B;
}

.ftInfo{
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
	gap: 10px;
	margin: 0px 250px;
	padding: 10px 0px;
}

#ft1{
	text-align: left;
	width: 275px;
}

#ft2{
	margin: 25px 0px;
}

#ft2 p{
	display: inline-block;
	margin: 0px 5px;
}

#ft3{
	text-align: right;
}

.forside{
	text-align: center;
	margin-top: 55px;
}

.forIntro{
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
	text-align: left;
	margin: 20px 250px;
}

#forIntro1 h1{
	color: #3f3f3f;
	font-size: 40px;
}

#forIntro1 p{
	font-size: 25px;
	color: #3f3f3f
}

#forIntro1 button{
	background: #A68876;
	color: white;
	border: none;
	border-radius: 30px;
	font-size: 25px;
	padding: 15px;
	cursor: pointer;
}

#forIntro2{
	background: white;
	padding: 0px 25px;
	border-radius: 30px;
	width: 350px;
	margin-bottom: 100px;
}

#forIntro2 p{
	font-size: 25px;
	color: #3f3f3f;
}

#navn{
	width: 335px;
	height: 35px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 0px 5px;
}

#mail{
	width: 335px;
	height: 35px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 0px 5px;
}

#telNum{
	width: 335px;
	height: 35px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 0px 5px;
}

#besked{
	width: 335px;
	height: 85px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 5px 5px;
	resize: none;
	font-family: "Open Sans";
}

#forIntro2 button{
	background: #A68876;
	color: white;
	font-size: 17px;
	border: none;
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0px 25px;
	cursor: pointer;
}

.punkter{
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
	gap: 10px;
	margin: 50px 250px 25px;
}

.punkter div{
	width: 250px;
	height: 250px;
	background: white;
	padding: 25px 15px;
	border-radius: 30px;
	color: #3f3f3f;
}

.punkter h2{
	color: #A68876;
}

.forside button{
	border: none;
	border-radius: 25px;
	background: #A68876;
	color: white;
	font-size: 20px;
	padding: 15px;
	margin: 50px 0px;
	cursor: pointer;
}

#knap{
	margin-bottom: 150px;
}

.bade{
	text-align: center;
	margin: 50px 0px 165px;
}

.badeSamling{
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
	margin: 0px 250px;
	background: white;
	border-radius: 30px;
	height: 540px;
}

.badeSamling img {
	border-radius: 30px 0px 0px 30px;
}

#badValg{
	text-align: left;
	padding: 0px 20px;
	color: #3f3f3f;
}

#badValg h2{
	width: 500px;
}

#bIndOvn{
	border: 2px solid #A68876;
	border-radius: 15px;
	padding: 10px;
	background: #FFFFFF;
	color: #A68876;
	cursor: pointer;
	margin-top: -10px;
}

#bUdOvn{
	border: 2px solid #A68876;
	border-radius: 15px;
	padding: 10px;
	background: #A68876;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: -10px;
}

#ovnCheck{
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
}

#bIngenD{
	border: 2px solid #A68876;
	border-radius: 15px;
	padding: 10px;
	background: #A68876;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: -10px;
	margin-bottom: 15px;
}

#bLuftD{
	border: 2px solid #A68876;
	border-radius: 15px;
	padding: 10px;
	background: #FFFFFF;
	color: #A68876;
	cursor: pointer;
	margin-top: -10px;
	margin-bottom: 15px;
}

#bVandD{
	border: 2px solid #A68876;
	border-radius: 15px;
	padding: 10px;
	background: #FFFFFF;
	color: #A68876;
	cursor: pointer;
	margin-top: -10px;
	margin-bottom: 15px;
}

#bBeggeD{
	border: 2px solid #A68876;
	border-radius: 15px;
	padding: 10px;
	background: #FFFFFF;
	color: #A68876;
	cursor: pointer;
	margin: 2px;
	margin-top: -10px;
	margin-bottom: 15px;
}

#bBrunT{
	border: 2px solid #1D5FE1;
	border-radius: 50px;
	padding: 7.5px 10px;
	background: #FDBC7B;
	color: #FDBC7D;
	cursor: pointer;
	margin-top: -15px;
	margin-bottom: 10px;
}

#bSortT{
	border: 2px solid black;
	border-radius: 50px;
	padding: 7.5px 10px;
	background: black;
	cursor: pointer;
	margin-top: -15px;
	margin-bottom: 10px;
}

#bKarH{
	border: 2px solid #1D5FE1;
	border-radius: 50px;
	padding: 7.5px 10px;
	background: white;
	color: white;
	cursor: pointer;
	margin-top: -10px;
}

#bKarS{
	border: 2px solid black;
	border-radius: 50px;
	padding: 7.5px 10px;
	background: black;
	cursor: pointer;
	margin-top: -10px;
}

#bKarG{
	border: 2px solid #515E71;
	border-radius: 50px;
	padding: 7.5px 10px;
	background: #515E71;
	color: #515E71;
	cursor: pointer;
	margin-top: -10px;
}

#bKarR{
	border: 2px solid #A12A2C;
	border-radius: 50px;
	padding: 7.5px 10px;
	background: #A12A2C;
	color: #A12A2C;
	cursor: pointer;
	margin-top: -10px;
}

#indhold{
	margin: 15px 0px;
	width: 400px;
}

#indhold b{
	font-weight: bold;
}

#indholdMac{
	display: none;
}

#indholdMac b{
	font-weight: bold;
}

#kurvDesk{
	margin-left: 230px;
	margin-top: -15px;
	background: #50ad55;		
	color: white;
	border: 2px solid #50ad55;
	border-radius: 15px;
	padding: 10px;
	cursor: pointer;
}

.guides{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 245px;
}

#guidesA{
	margin: 0px 500px;
	background: white;
	padding: 10px 25px;
	border-radius: 30px;
	color: #3f3f3f;
}

.guidesTabs{
	display: grid;
	justify-content: space-around;
	grid-template-columns: auto auto;
	gap: 10px;
	padding-bottom: 25px;
}

#guide1{
	border: 2px solid lightgrey;
	border-radius: 32px;
	width: 400px;
	color: #3f3f3f;
}

#guide1 p{
	padding: 0px 5px 10px;
}

#guide2{
	border: 2px solid lightgrey;
	border-radius: 32px;
	width: 400px;
	color: #3f3f3f;
}

#guide2 p{
	padding: 0px 5px 10px;
}

.omOs{
	text-align: center;
	margin-top: 50px;
}

.omInfo{
	margin: 0px 500px 100px;
	display: grid;
	justify-content: space-around;
	grid-template-columns: auto auto;
	gap: 10px;
	background: white;
	padding: 25px;
	border-radius: 30px;
	color: #3f3f3f;
}

.omInfo img{
	width: 400px;
	height: 400px;
	border-radius: 30px;
}

#omInfo1{
	text-align: left;
	width: 400px;
}

.omOs h1{
	color: #3F3F3F;
}

.punkter2{
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
	gap: 10px;
	margin: 50px 250px 150px;
}

.punkter2 div{
	width: 250px;
	height: 250px;
	background: white;
	padding: 25px 15px;
	border-radius: 30px;
	color: #3f3f3f;
}

.punkter2 h2{
	color: #A68876;
}

.kontakt{
	text-align: center;
	margin: 50px 0px 212.5px;
}

.kontaktInfo{
	margin: 0px 500px 100px;
	display: grid;
	justify-content: space-around;
	grid-template-columns: auto auto;
	gap: 10px;
	background: white;
	padding: 25px 30px;
	border-radius: 30px;
}

#kontaktInfo1{
	text-align: left;
	width: 550px;
	color: #3f3f3f;
}

#navnK{
	width: 450px;
	height: 35px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 0px 5px;
}

#mailK{
	width: 450px;
	height: 35px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 0px 5px;
}

#telNumK{
	width: 450px;
	height: 35px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 0px 5px;
}

#beskedK{
	width: 450px;
	height: 75px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px solid #A0A0A0;
	background: #F3F3F3;
	padding: 5px 5px;
	resize: none;
	font-family: "Open Sans";
}

#kontaktInfo1 button{
	background: #A68876;
	color: white;
	font-size: 17px;
	border: none;
	border-radius: 20px;
	padding: 10px;
	margin: 5px 0px 25px;
	cursor: pointer;
}

#kontaktInfo2{
	text-align: left;
	width: 300px;
}

#kontaktInfoR{
	width: 300px;
	border-bottom: 2px solid #A68876;
	color: #3f3f3f;
}

#kI2Num{
	color: #A68876;
}

#kontaktInfoM{
	width: 300px;
	color: #3f3f3f;
}

#kI2Mail{
	color: #A68876;
}

#facebook{
	display: flex;
}

#facebook a{
	text-decoration: none;
	color: #3F3F3F;
}

#facebook p{
	padding-left: 5px;
	margin-top: 7.5px;
}

@media screen and (max-width: 1440px){
	
	.badeSamling{
		display: grid;
		grid-template-columns: auto;
		gap: 0px;
		margin: 0px 250px;
		background: white;
		border-radius: 30px;
		height: auto;
	}

	.badeSamling img{
		width: 940px;
		height: 529px;
		border-radius: 30px 30px 0px 0px;
	}

	#badValg h2{
		margin: 10px 0px 5px;
	}

	#badValgSamling{
		display: grid;
		grid-template-columns: auto auto auto auto;
		padding-bottom: 0px;
	}
	
	#indhold{
		display: none;
	}
	
	#kurvDesk{
		display: none;
	}
	
	#indholdMac{
		display: flex;
		margin: -10px 0px 10px;
	}
	
	#kurvMac{
		margin: 10px 0px 10px 150px;
		background: #50ad55;
		color: white;
		border: none;
		border-radius: 30px;
		padding: 5px 10px;
		cursor: pointer;
	}

	#guidesA{
		margin: 0px 250px;
	}

	#guide1{
		width: 400px;
	}

	#guide2{
		width: 400px;
	}

	.omInfo{
		margin: 0px 250px 100px;
	}

	.kontakt{
		text-align: center;
		margin: 50px 0px 212.5px;
	}

	.kontaktInfo{
		margin: 0px 250px 100px;
	}
}


@media screen and (max-width: 1024px){
	header{
		margin: 0px 125px;
	}

	header img{
		width: 250px;
		padding-top: 15px;
	}	

	nav{
		text-align: center;
		margin: 30px 0px 0px;
	}

	nav button{
		padding: 10px 5px 0px;
		font-size: 20px;
		font-weight: 600;
	}

	.ftInfo{
		margin: 0px 125px;
		padding: 10px 0px;
	}

	#ft2{
		margin: 15px 0px;
	}

	#ft2 p{
		display: inline-block;
		margin: 0px 5px;
	}

	.forIntro{
		margin: 20px 125px;
	}

	#forIntro1 button{
		font-size: 22.5px;
		padding: 15px;
	}

	.punkter{
		margin: 50px 125px 25px;
	}

	.punkter div{
		width: 200px;
		height: 275px;
	}

	.badeSamling{
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto;
		gap: 10px;
		margin: 0px 125px;
		background: white;
		border-radius: 30px;
		height: auto;
		color: #3f3f3f;
	}

	.badeSamling img{
		width: 774px;
		height: 435px;
		border-radius: 30px 30px 0px 0px;
	}
	
	#bIngenD{
		margin-bottom: 5px;
	}

	#bLuftD{
		margin-bottom: 5px;
	}

	#bVandD{
		margin-bottom: 5px;
	}

	#bBeggeD{
		margin: 2px;
	}

	#guidesA{
		margin: 0px 125px;
	}

	#guide1{
		width: 300px;
	}
	
	#guide1 img{
		width: 300px;
		height: 150px;
	}

	#guide2{
		width: 300px;
	}
	
	#guide2 img{
		width: 300px;
		height: 150px;
	}

	.omInfo{
		margin: 0px 125px 100px;
	}
	
	.omInfo img{
		width: 250px;
		height: 250px;
		border-radius: 30px;
	}

	#omInfo1{
		text-align: left;
		width: 400px;
	}
	
	.punkter2{
		margin: 50px 125px 25px;
	}

	.punkter2 div{
		width: 200px;
		height: 275px;
	}

	.kontaktInfo{
		margin: 0px 125px 100px;
	}

	#kontaktInfo1{
		text-align: left;
		width: 400px;
	}

	#navnK{
		width: 350px;
	}

	#mailK{
		width: 350px;
	}

	#telNumK{
		width: 350px;
	}

	#beskedK{
		width: 350px;
	}

	#kontaktInfo2{
		width: 300px;
	}

	#kontaktInfoR{
		width: 300px;
	}

	#kontaktInfoM{
		width: 300px;
	}
}

@media screen and (max-width: 425px){
	header{
		display: block;
		text-align: center;
		justify-content: space-between;
		margin: 0px 50px;
	}

	header img{
		width: 250px;
		padding-top: 15px;
	}	

	nav{
		text-align: center;
		margin: 5px 0px 0px;
	}

	nav button{
		margin: 0px;
		padding: 5px 5px 0px;
		font-size: 20px;
		font-weight: 600;
	}

	.ftInfo{
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto;
		gap: 10px;
		margin: 0px 50px;
		padding: 10px 0px;
	}

	#ft1{
		text-align: center;
		width: 275px;
	}

	#ft2{
		margin: 10px 0px;
	}

	.forside{
		margin-top: 25px;
	}

	.forIntro{
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto;
		gap: 10px;
		text-align: left;
		margin: 20px 50px;
	}

	#forIntro1 button{
		font-size: 19px;
		padding: 15px;
	}

	#forIntro2{
		width: 250px;
	}

	#forIntro2 p{
		font-size: 25px;
	}

	#navn{
		width: 230px;
	}

	#mail{
		width: 230px;
	}

	#telNum{
		width: 230px;
	}

	#besked{
		width: 230px;
	}

	.punkter{
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto;
		gap: 25px;
		margin: 25px 85px 25px;
	}

	.punkter div{
		width: 200px;
		height: 275px;
	}

	.bade{
		margin: 75px 0px 115px;
	}

	.badeSamling{
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto;
		gap: 10px;
		margin: 0px 25px;
		height: auto;
	}

	.badeSamling img{
		width: 358px;
		height: 201px;
		border-radius: 30px 30px 0px 0px;
	}
	
	#badValgSamling{
		display: grid;
		grid-template-columns: auto;
	}
	
	#badValg{
		text-align: left;
		padding: 0px 20px;
	}

	.guides{
		text-align: center;
		margin-top: 75px;
	}	

	.guidesTabs{
		display: grid;
		justify-content: space-around;
		grid-template-columns: auto;
		gap: 25px;
	}
	
	#guidesA{
		margin: 0px 50px;
	}

	#guide1{
		width: 225px;
	}
	
	#guide1 img{
		width: 225px;
		height: 125px;
	}

	#guide2{
		width: 225px;
	}
	
	#guide2 img{
		width: 225px;
		height: 125px;
	}

	.omOs{
		margin-top: 75px;
	}

	.omInfo{
		margin: 0px 50px 100px;
		display: grid;
		justify-content: space-around;
		grid-template-columns: auto;
		gap: 10px;
		background: white;
		padding: 25px;
		border-radius: 30px;
	}
	
	.omInfo img{
		width: 250px;
		height: 250px;
	}

	#omInfo1{
		width: 255px;
	}

	.omOs h1{
		margin-top: 0px;
	}
	
	.punkter2{
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto;
		gap: 25px;
		margin: 25px 85px 150px;
	}

	.punkter2 div{
		width: 200px;
		height: 275px;
	}

	.kontakt{
		margin: 75px 0px 162px;
	}

	.kontaktInfo{
		margin: 0px 50px 100px;
		display: grid;
		justify-content: space-around;
		grid-template-columns: auto;
		gap: 10px;
		background: white;
		padding: 25px;
		border-radius: 30px;
	}

	#kontaktInfo1{
		width: 250px;
		padding: 0px 25px;
	}
	
	#kontaktInfo1 h2{
		margin-top: 0px;
	}

	#navnK{
		width: 225px;
	}

	#mailK{
		width: 225px;
	}

	#telNumK{
		width: 225px;
	}

	#beskedK{
		width: 225px;
	}

	#kontaktInfo1 button{
		margin: 5px 0px 25px;
	}

	#kontaktInfo2{
		text-align: left;
		width: 200px;
		padding: 0px 25px;
	}

	#kontaktInfoR{
		width: 250px;
	}

	#kontaktInfoM{
		width: 250px;
	}
}
